---
import Layout from '@layouts/Default.astro';

import { MusicCard } from '@components/MusicCard';
import { IconName } from '@fortawesome/fontawesome-svg-core'
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import Time from '@components/Time';
import VSCodeCard from '@components/VSCodeCard';
import PlexCard from '@components/PlexCard';
import ProjectCard from '@components/ProjectCard.astro';
import SkillCard from '@components/SkillCard.astro';
import SocialIcon from '@components/SocialIcon.astro';

import { Icon } from 'astro-icon'
---

<script src="components/Weather.tsx"></script>

<Layout>
	<!-- Hero -->
	<h1 class="mb-1">I'm <span class="bg-gradient-to-r from-blue-600 to-[#ff6c7b] dark:from-blue-300 dark:to-[#ffacb4] animate-[gradient_3s_ease-in-out_infinite] clip">Reizy</span>!</h1>
	<div>
	<Weather />
	</div>
	<h4 class="font-normal mb-4"><Icon name="mdi:clock" class="fill-neutral-900 dark:fill-white h-5 inline" /> <Time client:only="react" /></h4>
	<div class="grid grid-flow-col w-48 mt-3 text-lg mb-5">
		<SocialIcon name="Twitter" href="https://twitter.com/reizyishere" icon="mdi:twitter" />
		<SocialIcon name="GitHub" href="https://github.com/P0rc0D10" icon="mdi:github" />
		<SocialIcon name="Discord" href="discord.com/users/921732185562685492" icon="ic:baseline-discord" />
		<SocialIcon name="Email" href="mailto:hi@reizy.eu" icon="mdi:email" />
	</div>
	<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
		<MusicCard client:only="react" />
	</div>
</Layout>
