---
---

<header class="flex items-center justify-between">
    <a href="/"><img width="64" height="64" src="/favicon.png"></a>
    <a href="indexlight.astro"><h1>☀</h1></a>
</header>
<div class="h-8"></div>
