<select name="themeSwitch" id="themeSwitch">
  <option value="system">System</option>
  <option value="dark">Dark</option>
  <option value="light">Light</option>
</select>
<style>
  :global(.dark) {
    color-scheme: dark;
  }
</style>
